.headerButton {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14pt;
  color: #747474;
  text-decoration: none;
  margin-right: 20px;
}

.headerButton:visited {
  color: #747474;
}

.headerButton:hover {
  color: #383838;
}
