.container {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  align-items: center;
}

.text-container {
  min-width: 50%;
}

.title {
  font-size: 4em;
  font-weight: 600;
}

.subtitle {
  font-size: 3em;
  font-weight: 400;
  color: #747474;
}

.code-container::-webkit-scrollbar {
  display: none;
}

.code-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
