.container {
  height: 100%;
  font-size: 2.75vw;
}

.highlighter::-webkit-scrollbar {
  display: none;
}

.highlighter {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (orientation: landscape) {
  .container {
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    font-size: 0.9em;
  }
}
